<div class="group" id="main-container">
	<div class="main-title">
		<h3>Manage Patients App</h3>
	</div>
	<hr>
	<div class="nav-btns">
		<p class="navBtn" (click) = "newPatient()">Add Patient</p>
		<p class="navBtn" (click) = "allPatients()">View Patients</p>
	</div>
	<div class="clearfix"></div>
	<hr>

	<form class="add-patients" *ngIf = "addPatients">
		<div class="form-group col-lg-6 col-md-6">
			<label for="fname">First Name</label>
			<input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
		</div>
		<div class="form-group col-lg-6 col-md-6">
			<label for="lname">Last Name</label>
			<input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
		</div>
		<div class="form-group col-lg-6 col-md-6">
			<label for="phone">Phone Number</label>
			<input type="number" class="form-control" id="phone" name="phone" placeholder="Phone Number">
		</div>
		<div class="form-group col-lg-6 col-md-6">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
		</div>
		<div class="form-group col-lg-6 col-md-6">
			<label for="email">Date of Birth</label>
			<input type="date" class="form-control" id="dob" name="dob">
		</div>
		<div class="form-group col-lg-6 col-md-6">
			<input type="submit" class="btn btn-primary pull-right mybtn" value="Add Patient">
		</div>
	</form>

	<table class="table table-striped" id="view-patients" *ngIf = "viewPatients">
		<thead>
			<tr>
				<th>Fname</th>
				<th>Lname</th>
				<th>Phone</th>
				<th>Email</th>
				<th>DOB</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Derick</td>
				<td>Mwangi</td>
				<td>0702933534</td>
				<td>delinkdesigns@gmail.com</td>
				<td>30/09/1992</td>
				<td><span class="label label-warning">Update</span></td>
				<td><span class="label label-danger">Delete</span></td>
			</tr><tr>
				<td>Derick</td>
				<td>Mwangi</td>
				<td>0702933534</td>
				<td>delinkdesigns@gmail.com</td>
				<td>30/09/1992</td>
				<td><span class="label label-warning">Update</span></td>
				<td><span class="label label-danger">Delete</span></td>
			</tr><tr>
				<td>Derick</td>
				<td>Mwangi</td>
				<td>0702933534</td>
				<td>delinkdesigns@gmail.com</td>
				<td>30/09/1992</td>
				<td><span class="label label-warning">Update</span></td>
				<td><span class="label label-danger">Delete</span></td>
			</tr>
		</tbody>
	</table>

</div>

